<%include partials/header%>
<div class="hero">
    <h1 class="hero-head">Are you Sure you Want to Delete this?</h1>
    <p><em>This change is permanent and is not reversible.</em></p>
    <a href="/gsad/admin" class="btn big green">Go Back</a>
</div>
<div class="grid container">
    <div class="col-12 content">
        <div class="desc">
                <p><strong>Title: </strong> <%=post.title%></p>
                <p><strong>Info: </strong><%=post.info%></p>
                <p><strong>uploader: </strong><%=post.uploaded_by%></p>
                <p><strong>Upload Date: </strong> <%=post.date%></p>
                <p><strong>Content ID: </strong><%=post._id%></p>
            <form action="/api/posts/<%=post._id%>?_method=DELETE" method="POST">
                <button class="btn btn-block red">Delete</button>
            </form>
        </div>
    </div>
</div>
</div>
<%include partials/footer%>