<% include partials/header %>

    <div class="hero">
        <h1 class="hero-head">Are you Sure you Want to Delete this?</h1>
        <p><em>This change is permanent and is not reversible.</em></p>
        <div class="hero-options">
            <a href="/mycontent" class="btn big green">No, Cancel</a>
        </div>
    </div>
    <div class="grid container">
        <div class="col-12 content">
            <div class="desc">
                <h1 class=""><%=content.title%></h1>
                <div class="">
                    For Branch : <%= content.branch %> | Sem : <%= content.sem %><br>
                    Sub: <%= content.subject %>
                </div>
                <p>Info: <%= content.info %></p>
                <p>Upload details: 
                    <% if((currentUser) && (currentUser._id.toString()===superAdmin)){ %>
                        <%= content.owner.name %> 
                    <% } else { %>
                        TeamGeekseek 
                    <% } %>
                    | <%= content.created.toDateString() %>
                </p>
                <% if(content.fid){ %>
                    <a href="https://drive.google.com/file/d/<%= content.fid %>/view" target="_blank" rel="noopener" class="btn btn-block green">Download or View <i class="fas fa-download" aria-hidden="true"></i></a>
                <% } else if(content.fl){ %>
                    <a href="<%= content.fl %>" target="_blank" class="btn btn-block green">Download or View <i class="fas fa-download" aria-hidden="true"></i></a>
                <% } %>
                <form action="/<%= content._id %>/delete/confirmed?_method=DELETE" method="POST">
                    <% if(content.fid){ %>
                        <input type="text" name="content[fid]" value="<%= content.fid %>" style="display: none;">
                    <% } else if(content.fl){ %>
                        <input type="text" name="content[fl]" value="<%= content.fl %>" style="display: none;">
                    <% } %>
                    <button class="btn btn-block red">Yes, Delete <i class="fas fa-trash-alt" aria-hidden="true"></i></button>
                </form>
            </div>
        </div>
    </div>

<% include partials/footer %>