<% include partials/header %>

	<div class="animator">
        <div class="hero">
        	<% if(ctitle==="note"){ %>
				<h1 class="hero-head">Notes</h1>
				<h2></h2>
			<% } else if(ctitle==="assignment"){ %>
				<h1 class="hero-head">Assignments</h1>
				<h2></h2>
			<% } else if(ctitle==="labfile"){ %>
				<h1 class="hero-head">Labfiles</h1>
				<h2></h2>
			<% } else if(ctitle==="ebook"){ %>
				<h1 class="hero-head">e-Books</h1>
				<h2></h2>
			<% } else if(ctitle==="qpaper"){ %>
				<h1 class="hero-head">QuestionPapers</h1>
				<h2></h2>
			<% } else if(ctitle==="mycontent"){ %>
				<h1 class="hero-head">MyContent</h1>
				<h2></h2>
			<% } %>
			<% if(currentUser){ %>
				<a href="/gsad/upload" class="btn green big">NewContent <i class="fas fa-plus" aria-hidden="true"></i></a>
				<a href="/mycontent" class="btn blue big">MyContent <i class="fas fa-arrow-right" aria-hidden="true"></i></a>
			<% } %>
			<% if((currentUser) && (currentUser._id.toString()===superAdmin)){ %>
				<a href="/alldeletedbyadmin" class="btn red big">DeletedContent <i class="fas fa-trash" aria-hidden="true"></i></a>
			<% } %>
			<p>
				Instructions for better search results :<br>
				> Select branch only or Select sem only or Select both or Search directly<br>
				> If you select branch and sem both then you can filter more by typing subject, title and info of the content<br>
				> If you don't select branch and sem then you can directly search in "search more..."
			</p>
        </div>
        <div class="grid container">
        	<div class="col-12">
	        	<select id="branch" onchange="searchFunction()" style="width: 49.5%; height: 30px;">
					<option value="" selected>Select branch..</option>
					<option value="ALL">ALL</option>
					<option value="COE">COE</option>
					<option value="IT">IT</option>
					<option value="ECE">ECE</option>
					<option value="ICE">ICE</option>
					<option value="MPAE">MPAE</option>
					<option value="ME">ME</option>
					<option value="BT">BT</option>
				</select>
				<select id="sem" onchange="searchFunction()" style="width: 49.5%; height: 30px;">
					<option value="" selected>Select sem..</option>
					<option value=" 1">1</option>
					<option value=" 2">2</option>
					<option value=" 3">3</option>
					<option value=" 4">4</option>
					<option value=" 5">5</option>
					<option value=" 6">6</option>
					<option value=" 7">7</option>
					<option value=" 8">8</option>
				</select>
			</div>
			<div class="col-12">
				<input type="text" id="searchmore" onkeyup="searchFunction()" placeholder="Search more.. Subject Title Info">
			</div>
        	<% if(ctitle==="mycontent"){ %>
        		<% contents.sort(function(a, b){return b.created - a.created}).forEach(function(content){ %>
        			<% if((currentUser) && ((currentUser._id.equals(content.owner)) || (currentUser._id.toString()===superAdmin))){ %>
        				<div class="col-6 content">
        					<p class="searchstring" style="display: none;"><%= content.branch %> <%= content.sem %> <%= content.subject %> <%= content.title %> <%= content.info %></p>
				            <div class="desc">
				                <h1 class=""><%=content.title%></h1>
				                <div class="">
									For Branch : <%= content.branch %> | Sem : <%= content.sem %> | Sub: <%= content.subject %>
								</div>
								<p>Info: <%= content.info %></p>
				                <p>Upload details: TeamGeekseek | <%= content.ctype %> | <%= content.created.toDateString() %></p>
								<a href="https://drive.google.com/file/d/<%= content.fid %>/view" target="_blank" class="btn btn-block green">Download or View <i class="fas fa-download" aria-hidden="true"></i></a>
					            <a href="/<%= content._id %>/edit" class="btn btn-block yellow">Edit <i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
					            <a href="/<%= content._id %>/delete" class="btn btn-block red">Delete <i class="fas fa-trash-alt" aria-hidden="true"></i></a>
				            </div>
				        </div>
				    <% } %>
				<% }) %>
        	<% } else { %>
	        	<% contents.sort(function(a, b){return b.created - a.created}).forEach(function(content){ %>
			        <div class="col-6 content">
			        	<p class="searchstring" style="display: none;"><%= content.branch %> <%= content.sem %> <%= content.subject %> <%= content.title %> <%= content.info %></p>
			            <div class="desc">
			                <h1 class=""><%=content.title%></h1>
			                <div class="">
								For Branch : <%= content.branch %> | Sem : <%= content.sem %> | Sub: <%= content.subject %>
							</div>
							<p>Info: <%= content.info %></p>
			                <p>Upload details: TeamGeekseek | <%= content.created.toDateString() %></p>
							<a href="https://drive.google.com/file/d/<%= content.fid %>/view" target="_blank" class="btn btn-block green">Download or View <i class="fas fa-download" aria-hidden="true"></i></a>
							<% if((currentUser) && ((currentUser._id.equals(content.owner)) || (currentUser._id.toString()===superAdmin))){ %>
								<a href="/<%= content._id %>/edit" class="btn btn-block yellow">Edit <i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
					            <a href="/<%= content._id %>/delete" class="btn btn-block red">Delete <i class="fas fa-trash-alt" aria-hidden="true"></i></a>
					        <% } %>
			            </div>
			        </div>
			    <% }) %>
			<% } %>
        </div>
    </div>
    <script>
		function searchFunction(){
			var branch, sem, searchmore, filter, content, searchstring;
			branch = document.getElementById("branch");
			sem = document.getElementById("sem");
			searchmore = document.getElementById("searchmore");
			if((branch.value==="") && (sem.value==="")){
				filter = searchmore.value.toUpperCase();
			} else {
				filter = branch.value.toUpperCase()+sem.value.toUpperCase()+" "+searchmore.value.toUpperCase();
			}
			content = document.getElementsByClassName("content");
			for(i = 0; i < content.length; i++){
				searchstring = content[i].getElementsByClassName("searchstring")[0];
				if(searchstring){
		  			if(searchstring.innerHTML.toUpperCase().indexOf(filter) > -1) {
		    			content[i].style.display = "";
		  			} else {
		    			content[i].style.display = "none";
		  			}
				}       
			}
		}
	</script>

<% include partials/footer %>